@model Vidly.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>
    <title>Vidly - @Model.Name</title>
</head>
<body>

    <h1>@Model.Name</h1>

    <ul>
        <li>Genre: @Model.Genre.TypeOfGenre</li>
        <li>Release Date: @Model.ReleaseDate.Value.ToShortDateString()</li>
        <li>Date Added: @Model.DateAdded.Value.ToShortDateString()</li>
        <li>Number in Stock: @Model.NumberInStock</li>
    </ul>

</body>
</html>